<div>
	<table class="table_one">
							<tr>
								<td class="td_title">上传时间：</td>
								<td class="td_main"><input class="inpt_a" type="text" name="startTime" id="datetimepicker" value="{:I('get.startTime')}">&nbsp;~&nbsp;<input class="inpt_a" type="text" name="endTime" id="datetimepicker1" value="{:I('get.endTime')}"></td>
								</td>
								<td class="td_title">上传人：</td>
								<td class="td_main"><input type="text" name="createMan" value="{:I('get.createMan')}"></td>
								<td class="td_title">房间编号：</td>
								<td class="td_main"><input type="text" name="roomNO" value="{:I('get.roomNO')}"></td>
							</tr>
						</table>
	<p class="head_p"><button type="submit" class="btn_a">搜索</button></p>
</div>