


<!DOCTYPE html>
<HTML>
<HEAD>
    <TITLE> ZTREE DEMO - checkbox</TITLE>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="__PUBLIC__/zTree/css/demo.css" type="text/css">
    <link rel="stylesheet" href="__PUBLIC__/zTree/css/zTreeStyle/zTreeStyle.css" type="text/css">
    <script type="text/javascript" src="__PUBLIC__/zTree/js/jquery-1.4.4.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/zTree/js/jquery.ztree.core.js"></script>
    <script type="text/javascript" src="__PUBLIC__/zTree/js/jquery.ztree.excheck.js"></script>
    <!--
    <script type="text/javascript" src="../../../js/jquery.ztree.exedit.js"></script>
    -->
    <SCRIPT type="text/javascript">
        var data = <?php echo $data ?>;

        var setting = {
            check: {
                enable: true
            },
            data: {
                simpleData: {
                    enable: true
                }
            }
        };

        var zNodes = data;


        var code;

        function setCheck() {
            var zTree = $.fn.zTree.getZTreeObj("treeDemo"),
                py = $("#py").attr("checked")? "p":"",
                sy = $("#sy").attr("checked")? "s":"",
                pn = $("#pn").attr("checked")? "p":"",
                sn = $("#sn").attr("checked")? "s":"",
                type = { "Y":py + sy, "N":pn + sn};
            zTree.setting.check.chkboxType = type;
            showCode('setting.check.chkboxType = { "Y" : "' + type.Y + '", "N" : "' + type.N + '" };');
        }
        function showCode(str) {
            if (!code) code = $("#code");
            code.empty();
            code.append("<li>"+str+"</li>");
        }

        $(document).ready(function(){
            $.fn.zTree.init($("#treeDemo"), setting, zNodes);
            setCheck();
            $("#py").bind("change", setCheck);
            $("#sy").bind("change", setCheck);
            $("#pn").bind("change", setCheck);
            $("#sn").bind("change", setCheck);
        });

    </SCRIPT>
</HEAD>

<BODY>
<!--<h1>Checkbox 勾选操作</h1>-->
<!--<h6>[ 文件路径: excheck/checkbox.html ]</h6>-->
<!--<div class="content_wrap">-->
    <!--<div class="zTreeDemoBackground left">-->
        <!--<ul id="treeDemo" class="ztree"></ul>-->
    <!--</div>-->
<!--</div>-->



<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>角色授权</h5>
                </div>
                <div class="ibox-content">
                    <div class="form-horizontal m-t" id="signupForm">
                        <div class="form-group">
                        <ul id="treeDemo" class="ztree"></ul>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-8 " style="margin-left:3%;">
                                <input type="hidden" name="authlist" id="authlist" value=""/>
                                <button class="btn btn-info" type="button" onclick="authrize({$uid});">授权</button>
                                <button class="btn btn-default" type="button">取消</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



</BODY>
</HTML>

<link rel="shortcut icon" href="favicon.ico">
<link href="__PUBLIC__/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
<link href="__PUBLIC__/css/font-awesome.css?v=4.4.0" rel="stylesheet">
<link href="__PUBLIC__/css/animate.css" rel="stylesheet">
<link href="__PUBLIC__/css/style.css?v=4.1.0" rel="stylesheet">










